/* colors */
$p1:#03a9f4;
$p2:#f65d2d;
$p3:#ecfa4d;
$p4:#656a70;




$l1-p1:mix($p1,#fff,60%);
$l1-p2:mix($p2,#fff,60%);
$l1-p3:mix($p3,#fff,60%);
$l1-p4:mix($p3,#fff,60%);

$l2-p1:mix($p1,#fff,25%);
$l2-p2:mix($p2,#fff,25%);
$l2-p3:mix($p3,#fff,25%);
$l2-p4:mix($p3,#fff,25%);


$l3-p1:mix($p1,#fff,10%);
$l3-p2:mix($p2,#fff,10%);
$l3-p3:mix($p3,#fff,10%);
$l3-p4:mix($p3,#fff,10%);

$d1-p1:mix($p1,#000,20%);
$d1-p2:mix($p2,#000,20%);
$d1-p3:mix($p3,#000,20%);
$d1-p4:mix($p4,#000,20%);